@import "mocha.css";

* {
    font-family: "UbuntuMonoNerdFont", "Noto Color Emoji", sans-serif;
	font-size: 20px;
    border: none;
    box-shadow: none;
}

window#waybar {
    background: transparent;
	color: @text;
}

.modules-right {
    /* background: @base; */
    background: transparent;
    /* border-radius: 20px; */
}

.modules-right:hover {
    /* background: @base; */
    background: transparent;
    /* border-radius: 20px; */
}
.modules-left {
    /* background: @base; */
    background: transparent;
    /* border-radius: 20px; */
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#network,
#battery,
#disk,
#custom-weather,
#tray {
    padding: .25rem .5rem;
    margin: 0rem .25rem;
}

#clock:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#network:hover,
#battery:hover,
#disk:hover,
#custom-weather:hover,
#tray:hover {
    color: @lavender;
}

#workspaces button {
	padding: 0 .125rem;
    margin: 0 .25rem;
	color: @text;
}
#workspaces button.active {
	color: @blue;
}
#workspaces button:hover,
#workspaces button:hover label {
    background: transparent;
    color: @lavender;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#battery.full {
    color: @green;
}
