@import "mocha.css";

* {
	font-size: 24px;
	font-family: UbuntuMonoNerdFont;
}

window#waybar {
    background: #241f31;
	color: @text;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#network,
#battery,
#disk,
#window,
#tray {
	background: #241f31;
    border: 2px solid @surface0;
    padding: .5rem .5rem;
    margin: .5rem .5rem;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #13111a,
        -4px -4px 6px #352d48
}

#clock:hover,
#pulseaudio:hover,
#memory:hover,
#cpu:hover,
#network:hover,
#battery:hover,
#disk:hover,
#tray:hover {
}

#workspaces button {
	padding: 0 .5rem;
    margin: 0 .5rem;
    border-radius: 50px;
	color: @text;
}
#workspaces button.active {
	color: @blue;
    font-weight: bold;
    /* box-shadow: @blue 0px 4px 4px; */
    box-shadow: 2px 2px 5px 0px @blue, -2px -2px 5px 0px @blue;
}
#workspaces button:hover {
    color: @green;
}

#network {
    color: @red;
}

#pulseaudio {
	color: @peach;
}
#memory {
	color: @yellow;
}
#cpu {
	color: @green;
}
#battery {
	color: @blue;
}
#disk {
	color: @mauve;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#network,
#window
#disk {
    border-radius: 20px;
	padding: 0 .5rem;
}
