* {
    font-family: UbuntuMonoNerdFont;
    font-size: 20px;
}

window {
    background-color: transparent;
}

#input {
    background-color: #313244;
    color: #cdd6f4;
    outline-color: #313244;
}

#outer-box {
    background-color: rgba(49, 50, 68, .85)
}

#scroll {
}

#text {
    color: #cdd6f4;
}

#entry:nth-child(even){
    background-color: rgba(60,64,83,.85);
}

#entry:selected {
    background-color: rgba(108, 112, 134, .85)
}

#text:selected {
    background: transparent;
}
